@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (max-width: 750px){
    
    .res{
        display: block;
    }
    .cal{
        margin-top:15px;
       }
    

}

@media only screen and (min-width: 750px){
   .min{
    justify-content: center;
    margin: 10px;
   }
   
} 
